# Dependencies directory
/node_modules

# Next.js artifacts
/.next/
/out/

# Vercel artifacts
.vercel

# TSC artifacts
*.tsbuildinfo
next-env.d.ts

# Build output
/build

# Logs
*.log

# Environment file
.env
